.arrow-container {
  position: relative;
  top: -130px;
  color: var(--color-dovegrey);
  mix-blend-mode: difference;
  opacity: 1;
  animation: s linear forwards;
  animation-timeline: scroll();
}

.arrow {
  margin: auto;
  height: clamp(15px, calc(1.5625rem + ((1vw - 19.2px) * 0.6266)), 25px);;
  width: clamp(15px, calc(1.5625rem + ((1vw - 19.2px) * 0.6266)), 25px);;
  animation: slideUpDown 1s infinite ease-in-out;
}

@keyframes slideUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

/* does not work in firefox. Do it in js maybe*/
@keyframes fadeOut {
  from { opacity: 1;}
  to { opacity: 0; }
}

@media (width < 800px) {
  .arrow-container {
    top: -130px;
  }
}