.waves-container {
  height: 300px;
  overflow: hidden;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 120px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 13s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 16s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 19s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 22s;
}
.parallax > use:nth-child(5) {
  animation-delay: -6s;
  animation-duration: 25s;
}
.parallax > use:nth-child(6) {
  animation-delay: -7s;
  animation-duration: 28s;
}
.parallax > use:nth-child(7) {
  animation-delay: -8s;
  animation-duration: 31s;
}
.parallax > use:nth-child(8) {
  animation-delay: -9s;
  animation-duration: 34s;
}
.parallax > use:nth-child(9) {
  animation-delay: -10s;
  animation-duration: 37s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 100px;
    min-height: 100px;
  }
}